<div class="container">
    <% include ../partials/header.ejs %>
    <header class="jumbotron">
        <div class="container">
            <h1>YelpCamp</h1>
            <h4>View our hand-picked campgrounds from around the world</h4>
            <div class="row">
                <div class="col-md-8">            
                    <p style="margin-top: 2rem; margin-left: 0; padding-bottom: 0px; display: inline-block">
                        <% if (typeof(currentUser) != 'undefined') { %>
                            <a class="btn btn-primary btn-large" href="/campgrounds/new" style="margin-right: 2rem;">Add New Campground, <%= currentUser.username %></a>
                        <% } %>
                        
                    </p>
                </div>         
            </div>
        </div>
    </header>
    <div class="row">                   
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-4 col-sm-6"> 
                <img src="<%= campground.image %>">
                <div class="imgButton">
                    <a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
                </div>
            </div>
        <% }); %>                
    </div>
</div>



<% include ../partials/footer.ejs %>