body {
    margin-top: 1%;
}

.container {
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
}

.thumbnail{        
    width: 310px;
    height: 310px; 
}

.thumbnail img{
    width: 300px; 
    height: 300px;
    display: block;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}