body {
    margin-top: 1%;
}

.container {
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
}

.thumbnail{        
    width: 240px;
    height: 260px; 
}

.thumbnail img{
    width: 250px; 
    height: 250px;
    display: block;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-buttons {
    display: inline;
}