body {
    margin-top: 1%;
}

.container {
    width: 80%;
    padding-right: 0px;
    padding-left: 0px;
}

.thumbnail {
    padding: 0;
    margin-bottom: 0;
}

.thumbnail img {
    width: 100%;
}
.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}